.component {
    margin: .5rem;
    padding: 1rem;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}

textarea, input {
    width: 98%;
    margin: auto;
    margin-bottom: 1rem; 
}